/* --------------------------
   PAGINA ponencia
   --------------------------*/

.b-calendario-localizacion-qr {
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    color: var(--negro);
    padding: 2rem;
    background-color: var(--blanco);
}
.b-calendario-localizacion-qr__texto {
    font-family: "Roboto-Regular";
    font-size: 1.2rem;
    margin-top: 1rem;
}
.ponencia__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ponencia__imagen--container {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 100%;
}

.ponencia__imagen--container img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

.ponencia__perfil--imagen {
    position: relative;
    top: -9rem;
    left: 2rem;
    width: 10rem;
    border-radius: 50%;
}
.ponencia__perfil--nombre-ponente {
    position: relative;
    top: -8rem;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
    left: 3rem;
}
.ponencia__perfil--skin-ponente {
    position: relative;
    top: -8rem;
    left: 3rem;
    font-family: "Roboto_LightItalic";
    font-size: 1rem;
}
.ponencia__resumen--fecha {
    position: relative;
    top: -6rem;
    left: 3rem;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
}
.ponencia__resumen--titulo {
    position: relative;
    top: -6rem;
    left: 3rem;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
}

.ponencia__resumen--sala {
    position: relative;
    top: -6rem;
    left: 3rem;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
}
.ponencia__resumen--descripcion {
    position: relative;
    top: -4rem;
    left: 3rem;
    font-family: "Roboto-Regular";
    font-size: 1.2rem;
}
.ponencia__resumen--container-reserva {
    display: flex;
    justify-content: flex-end;
}
.ponencia__resumen--boton-reserva {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: "Roboto-Regular";
    font-size: 2rem;
    background-color: var(--naranja);
    border-radius: 2rem;
    min-width: 25rem;
    max-width: 400px;
    height: 3rem;
}
.ponencia__resumen--precio-entrada {
    position: relative;
    left: 3rem;
    margin: 0 auto;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
}
