/*-----------------------------------
            MEDIA QUERIES
 ----------------------------------*/
/* BARRA MENU MEDIA SIZES */

@media (max-width: 950px) {
    .mobile-nav-toogle {
        width: 80%;
    }
    .b-header {
        flex-direction: column;
    }
    .barramenu {
        position: absolute;
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        margin-left: 10rem;
        top: 0;

        opacity: 1;
        backdrop-filter: blur(35px);
    }
    .barra-menu-movil {
        display: none;
    }
    .social {
        display: none;
    }
    .links {
        display: none;
    }

    .menu-movil {
        position: absolute;
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        margin-left: 10rem;
        top: 0;

        opacity: 1;
        backdrop-filter: blur(35px);
    }
    .barramenu .links {
        margin-top: 90px;
        display: flex;
        align-items: last baseline;
        align-self: center;
        flex-direction: column;
    }
    .barramenu a {
        font-family: "Roboto-Regular";
        font-size: 2rem;
        padding: 0;
        margin-bottom: 1rem;
    }

    .hamburger {
        display: none;
        position: absolute;
        z-index: 99;
    }
    .cerrar {
        display: none;
        position: absolute;
        z-index: 99;
    }
    .conferencia,
    .taller {
        width: 45%;
    }

    .alinearderecha {
        position: absolute;
        right: 14rem;
        bottom: 1rem;
    }
    .myFormGrid {
        max-width: 80%;
        font-size: 1.2rem;
    }
    .myFormGrid2 {
        max-width: 80%;
        font-size: 1.2rem;
    }
}
@media (max-width: 700px) {
    body {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .b-header {
        flex-direction: column;
    }

    .logo-blendiberia-top {
        margin-left: 6%;
        margin-top: 3rem;
    }

    .b-calendario {
        display: flex;
        flex-direction: column;
    }

    .b-calendario-localizacion-fechas {
        margin-top: 1.5rem;
    }
    .b-calendario-localizacion_fechas__texto {
        top: 3px;
        font-size: 1.5rem;
    }

    .b-calendario-localizacion-qr {
        width: 100%;
        max-width: 100%;
        margin-top: 2rem;
    }
    .b-calendario-localizacion-qr__texto {
        font-family: "Roboto-Regular";
        font-size: 1.2rem;
        margin-top: 1rem;
        /*font-size: calc(100% / var(--qr-image-width, 100) * 100);*/
    }
    .nombre-hotel {
        font-size: 1.5rem;
    }
    .b-calendario-localizacion-sitio {
        margin-top: 1.5rem;
    }
    .b-calendario-localizacion-mapa {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    .cuerpo__programa-tus-dias {
        margin-bottom: 2rem;
    }

    .b-ponentes {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .ficha_ponente {
        margin-right: 1.5rem;
        min-width: min-content !important;
    }

    .titulo-conferencia,
    .titulo-taller,
    .titulo_video {
        font-size: 1.5rem;
    }
    .titulo-texto {
        font-size: 2.5rem;
    }

    .ponentes__nombre {
        font-size: 0.7rem;
    }
    .imagen_ponente {
        height: auto !important;
    }
    .ponentes__cargo {
        font-size: 0.5rem;
    }
    .b-conferencias {
        flex-direction: column !important;
    }
    .boton_slide {
        display: none;
    }
    .texto-naranja {
        margin-top: 2rem;
    }

    .boton_registro {
        min-width: 20rem;
        font-size: 1.5rem;
        padding-top: 0.4rem;
    }

    .botoncabecera {
        width: 90vw;
        font-size: 1.5rem;
    }

    .b-imagenlogopie {
        margin-bottom: 25px;
    }
    .imagenlogopie {
        width: 70%;
    }
    .logobarra {
        left: 40px;
    }

    .conferencia,
    .taller {
        width: 100%;
    }
    .ponencia__resumen--titulo {
        left: 1rem !important;
        margin-right: 2rem;
        top: -4rem !important;
    }
    .ponencia__resumen--descripcion {
        left: 1rem !important;
        margin-right: 2rem;
        top: -2rem !important;
    }
    .ponencia__resumen--boton-reserva {
        min-width: 18rem !important;
        font-size: 1.5rem !important;
    }
    .ponencia__perfil--imagen {
        width: 5rem !important;
        top: -6rem !important;
    }
    .ponencia__perfil--nombre-ponente {
        top: -6rem !important;
        left: 1rem !important;
    }
    .ponencia__perfil--skin-ponente {
        top: -6rem !important;
        left: 1rem !important;
    }
    .ponencia__resumen--fecha {
        top: -4rem !important;
        left: 1rem !important;
    }

    .taller__resumen--titulo {
        left: 1rem !important;
        margin-right: 2rem;
        top: -4rem !important;
    }
    .taller__resumen--descripcion {
        left: 1rem !important;
        margin-right: 2rem;
        top: -2rem !important;
    }
    .taller__resumen--boton-reserva {
        min-width: 18rem !important;
        font-size: 1.5rem !important;
    }
    .taller__perfil--imagen {
        width: 5rem !important;
        top: -6rem !important;
    }
    .taller__perfil--nombre-ponente {
        top: -6rem !important;
        left: 1rem !important;
    }
    .taller__perfil--skin-ponente {
        top: -6rem !important;
        left: 1rem !important;
    }
    .taller__resumen--fecha {
        top: -4rem !important;
        left: 1rem !important;
    }
    .ponentes_datosponente--contenedor-links {
        font-size: 0.7rem;
    }
}

@media (max-width: 450px) {
    .botoncabecera {
        width: 85vw;
        font-size: 1.5rem;
    }
    .imagenlogopie {
        width: 100%;
    }
    .logobarra {
        left: 30px;
    }
    .b-ponentes {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .logo-blendiberia-top {
        margin-left: 6%;
        margin-top: 3rem;
    }
    .imagen_ponente {
        width: 88px;
        height: auto !important;
    }
}
