.b-contenedor-eventos{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    /*border: 2px dotted var(--blanco); */
}
.b-contenedor-eventos__calendarios{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    /*border: 2px dotted var(--blanco);*/
}
.b-programa-lista {
    display: grid;
    grid-template-columns: 1fr 82%;

    width: 95%;
    /*border: 3px dotted greenyellow*/;

}
.b-programa-lista__contenedor__detalle {
    margin:20px;
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    width: 100%;
    /*border: 3px dashed blueviolet;*/
}
.b-programa-lista__contenedor__detalle__imgtxt{
    display: flex;
    flex-direction: row;
}
.b-programa-lista__contenedor__titulo{
    text-align: left;
    color: var(--blanco);
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
    padding: 5px 0px;
}
.b-programa-lista__contenedor_eventos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 3px dashed wheat; */
}
.b-programa-lista__contenedor_eventos_horarios{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    /*border: 3px dashed blueviolet;*/
}

.b-programa-lista__contenedor_eventos_horarios_row{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: start;
    text-decoration: none;
    margin-left: 20px;
    font-family: "roboto-Regular", sans-serif;
    color: var(--naranja);
    font-size: 1.4rem;
    height: 3rem;
    margin-top: 5px;
    /*border: 2px dotted white;*/
}
.b-programa-lista__contenedor_eventos_horarios_talleres_row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-decoration: none;
    margin-left: 20px;
    font-family: "roboto-Regular", sans-serif;
    color: var(--naranja);
    font-size: 1.4rem;
    height: 3rem;
    margin-top: 5px;
    /*border: 2px dotted white;*/
}
.b-programa-lista__contenedor_eventos_horarios p{
    margin-top: 10px;
    border-color: var(--naranja);
    border-bottom: 1px solid var(--naranja);

}
.b-programa-lista__detalle__cuerpo{
    font-family: "Roboto-Light";
    font-size: 1.2rem;
    color: var(--blanco);
}
.b-programa-lista-detalle__imagen{
    margin-right: 20px;
    width: 400px;
}
.b-programalista__evento__precio{
    margin-left: 10px;
    border: 1px solid var(--naranja);
    border-radius: 25px;
    cursor: pointer;
    height: 22px;
    text-align: center;
    padding-top: 3px;
}

.fecha-programa{
    color: var(--naranja);
    background-color:  var(--blanco);
    font-family: 'Roboto-Regular';
    font-size: 1.5em;
    width: 100%;
    padding-left: 1rem;
    margin-left: 20px;
}
.ficha_ponente{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--blanco);
    min-width: 200px;
}
.imagen_ponente{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

.texto-programa{
    color: var(--naranja);
    font-family: 'Roboto-Regular' ;
    font-size: 3vw;
}

.adv-talleres{
    font-size: 1.2rem;
}

/* --------------------------
   PAGINA TALLER
   --------------------------*/
.taller__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.taller__imagen--container{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 100%;
}
.taller__perfil--imagen{
    position: relative;
    top: -9rem;
    left: 2rem;
    width: 10rem;
    border-radius: 50%;

}
.taller__perfil--nombre-ponente {
    position: relative;
    top:-8rem;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
    left: 3rem;
}
.taller__perfil--skin-ponente{
    position: relative;
    top:-8rem;
    left: 3rem;
    font-family: "Roboto_LightItalic";
    font-size: 1rem;
}
.taller__resumen--fecha {
    position: relative;
    top:-6rem;
    left: 3rem;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
}
.taller__resumen--titulo{
    position: relative;
    top:-6rem;
    left: 3rem;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
}
.taller__resumen--descripcion{
    position: relative;
    top:-4rem;
    left: 3rem;
    font-family: "Roboto-Regular";
    font-size: 1.2rem;
}
.taller__resumen--container-reserva{
    display: flex;
    justify-content: flex-end;
}
.taller__resumen--boton-reserva{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: "Roboto-Regular";
    font-size: 2rem;
    background-color: var(--naranja);
    border-radius: 2rem;
    min-width: 25rem;
    max-width: 400px;
    height: 3rem;
}
.taller__resumen--precio-entrada{
    position: relative;
    left: 3rem;
    margin: 0 auto;
    font-family: "Roboto-Regular";
    font-size: 1.5rem;
}
